<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <app-seccion-nav></app-seccion-nav>
<!--banner-->

    <div id="c-banner" class="text-white ">
      <img
        id="imagen-banner"
        src="assets/contacto.jpg"
        class="img-fluid"
        alt=""
      />
      <div class="jumbotron jum mt-5">
        <h1 class="titulo display-4">Contacto</h1>
        <div class="mt-3 text-white lista-banner">
          <li class="list-unstyled d-flex justify-content-center">
            <a class="nav-link" aria-current="page" routerLink="/index">Home</a>
          </li>
          <li class="ps-3 text-muted">Contacto</li>
        </div>
      </div>
    </div>
<!--contacto icono-->
    <div id="contacto" class="container-fluid text-black">
      <div class="row contenedor-contacto">

        <div class="datos-contacto col-md-4 col-lg-4 col-sm-12">
          <div class="parrafo">
          <i class="fa-solid fa-phone ic"></i>
            <p class="p">1144556677</p>
            <p class=" text-muted">Puedes llamarnos en cualquier momento</p>
          </div>
        </div>

        <div class="datos-contacto col-md-4 col-lg-4 col-sm-12">
          <div class="parrafo">
            <i class="fa-solid fa-map ic"></i>
            <p class="p">
              51 Francis Street, San Diego, CA 91702 United States
            </p>
            <p class="text-muted">
            Nos encontramos aquí
            </p>
          </div>
        </div>
        <div class="datos-contacto col-md-4 col-lg-4 col-sm-12">
          <div class="parrafo">
          <i class="fa-solid fa-envelope ic"></i>
            <p class="p">info@demolink.org</p>
            <p class="text-muted">
              No dude en enviarnos un correo electrónico con sus preguntas
            </p>
          </div>
        </div>
      </div>
    </div>
<!--formulario-->
    <div class="container-fluid">
      <div class="row">
        <div class="contenedor col-sm-12">
          <div class="">
            <form
              id="form"
              (ngSubmit)="onContacto()"
              class="row"
              target="_blank"
              method="POST"
              novalidate
              #f="ngForm"
            >
              <fieldset>
                <legend class="text-center header pb-3">
                  Completa el formulario para ponerte en contacto
                </legend>
                <div class="form-group">
                  <span class="col-md-1 col-md-offset-2 text-center"
                    ><i class="fa fa-user bigicon"></i
                  ></span>
                  <div class="col-md-8 mt-2">
                    <input
                      type="text"
                      name="nombre"
                      id="txtNombre"
                      placeholder="ingresa tu nombre"
                      required
                      [(ngModel)]="nombre"
                      minlength="5"
                      maxlength="50"
                      autocomplete="true"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <span class="col-md-1 col-md-offset-2 text-center"
                    ><i class="fa-solid fa-envelope bigicon"></i
                  ></span>
                  <div class="col-md-8 mt-2">
                    <input
                      placeholder="email"
                      class="form-control"
                      name="correo"
                      placeholder="Correo"
                      required
                      #correo="ngModel"
                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                      [ngClass]="{
                        'is-invalid animated shake':
                          correo.invalid && correo.touched
                      }"
                      autocomplete="true"
                      type="email"
                      name="email"
                      id="txtEmail"
                      placeholder="ingresa tu email"
                      required
                      [(ngModel)]="email"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <span class="col-md-1 col-md-offset-2 text-center"
                    ><i class="fa-solid fa-pen bigicon"></i
                  ></span>
                  <div class="col-md-8 mt-2">
                    <textarea
                      rows="10"
                      cols="10"
                      name="message"
                      id="txtMensaje"
                      placeholder="ingresa tu mensaje"
                      required
                      [(ngModel)]="message"
                    ></textarea>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-12 text-center mt-3">
                    <div class="div-button">
                      <button
                        title="debe completar los campos para enviar el mensaje"
                        type="button"
                        class=""
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal"
                        id="button"
                        type="submit"
                        [disabled]="f.invalid"
                        title="debes completar todos los campos para enviar"
                      >
                        Enviar
                      </button>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!---modal ------------------------------------------------------------------>
    <section class="container-fluid">
      <!-- Modal -->
      <div
        class="modal"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"></h5>
            </div>
            <div class="modal-body">
              <p>
                Muchas Gracias! Su mensaje fue recibido, obtendra una respuesta
                a la brevedad.
              </p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cerrar
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--footer 2-->
    <footer id="footer2">
      <section class="container-fluid">
        <div class="">
            <div class="row contenedor-footer-logo">
              <img id="img-footer" src="assets/l.png" alt="" />
            </div>
            <div class="contenedor-footer-nav">
              <nav class="row">
                <ul>
                  <li>
                    <a href="">Home</a>
                  </li>
                  <li>
                    <a href="">Menu</a>
                  </li>
                  <li>
                    <a href="">Contacto</a>
                  </li>
                  <li>
                    <a href="">Local</a>
                  </li>
                  <li>
                    <a href="">Blog</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="contenedor-footer-redes mt-5">
              <nav class="row">
                <ul>
                  <li>
                    <a href="">
                      <i class="fa-brands fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <i class="fa-brands fa-instagram"></i>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <i class="fa-brands fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <i class="fa-brands fa-youtube"></i>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
        </div>
      </section>
      <p class="p text-muted ">©  2022 Rest. All Rights Reserved. Privacy Policy</p>
    </footer>
  </body>
</html>
