<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <!--seccion nav-->
    <app-seccion-nav></app-seccion-nav>
    <!--- banner --->
    <div id="c-banner" class="text-white">
      <img
        id="imagen-banner"
        src="assets/contacto.jpg"
        class="img-fluid"
        alt=""
      />
      <div class="jumbotron jum mt-5">
        <h1 class="titulo display-4">Local</h1>
        <div class="mt-3 text-white d-flex justify-content-center">
          <li class="list-unstyled">
            <a class="nav-link" aria-current="page" routerLink="/index">Home</a>
          </li>
          <li class="ps-3 text-muted">Local</li>
        </div>
      </div>
    </div>
<!--seccion-->
    <section id="seccion">
      <div class="container c">
        <div class="row r">
          <h3 class="h3">Vení a visitarnos</h3>
          <div id="n">
            <div class="datos-locales d-block">
              <p class="p1">Ubicación</p>
              <p>Jorge Luis Borges 1999</p>
              <p>Ciudad de Buenos Aires Argentina</p>
            </div>
          </div>
          <div class=" horarios">
            <p>Lunes a Viernes de 12:00 a 1:00</p>
            <p>Sábado de 12:00 a 2:00</p>
            <p>Domingo de 12:00 a 1:00</p>
          </div>
        </div>
        <div class="">
          <div class="">
            <div id="mapa" class="img-fluid">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d26270.621725095803!2d-58.451558399999996!3d-34.6085178!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1664275472771!5m2!1ses-419!2sar"
                width="600"
                height="450"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--footer 2-->
    <footer id="footer2">
      <section class="container-fluid">
        <div class="">
            <div class="row contenedor-footer-logo">
              <img id="img-footer" src="assets/l.png" alt="" />
            </div>
            <div class="contenedor-footer-nav">
              <nav class="row">
                <ul>
                  <li>
                    <a href="">Home</a>
                  </li>
                  <li>
                    <a href="">Menu</a>
                  </li>
                  <li>
                    <a href="">Contacto</a>
                  </li>
                  <li>
                    <a href="">Local</a>
                  </li>
                  <li>
                    <a href="">Blog</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="contenedor-footer-redes mt-5">
              <nav class="row">
                <ul>
                  <li>
                    <a href="">
                      <i class="fa-brands fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <i class="fa-brands fa-instagram"></i>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <i class="fa-brands fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <i class="fa-brands fa-youtube"></i>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
        </div>
      </section>
      <p class="p text-muted ">©  2022 Rest. All Rights Reserved. Privacy Policy</p>
    </footer>
  </body>
</html>
