/*general*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header nav{
  padding: 10px;
}
#icono{
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 10px;
    font-size: 30px;
  }

  #icono:hover{
    cursor: pointer;
  }
#img{
  margin-left:35px;
}
  #navbarSupportContent{
    margin:10px;
    font-size: large;
    margin-left: 20%;;
  }
  #user{
  align-items:center;
  width: 25%;
  margin-left: 21%;
  width: 25%;

  }
  #notificacion{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-toggler-icon{
    background-color: black;
    margin-right: 5px;
  }
  .mostrarNotificacion{
    visibility: hidden;
    border-radius: 2px;
    background-color:rgb(255, 255, 255);
    width:20px;
    height:20px;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
  }
.es-visible{
  visibility:visible;
}

  #div{
    position:fixed;
    top:100px;
    display:block;
    background-color:rgba(255, 255, 255, 0.936);
    color:black;
    z-index: 2;
  }
  #div .li{
    text-decoration: none;
    list-style:none; 
    
  }
  .separador{
    border:2px solid black;
  }

  #estado{
    visibility:hidden;
  }