/*general*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
  background-color: #323232 !important;
}
header nav{
  padding: 15px;
  background-color: #323232 !important;
}
.not{
  position:relative;
  left: -22px;
  top: -27px;
  width: -10px;
  font-size: 0px;
  visibility: hidden;
}
.mos{
  visibility: visible;
}
#icono{
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 10px;
    font-size: 30px;
  }

  #icono:hover{
    cursor: pointer;
  }
#img{
  margin-left:35px;
  
}
  #navbarSupportContent{
    margin: 10px;
    margin-left: 20%;
    text-transform: uppercase;
  }
  .nav-link:hover {
   color:green;
  }
  #user{
  align-items:center;
  width: 25%;
  margin-left: 21%;
  width: 25%;
  font-size: smaller;

  }
  #notificacion{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-toggler-icon{
    margin-right: 5px;
  }
  .mostrarNotificacion{
    visibility: hidden;
    border-radius: 2px;
    background-color:rgb(255, 255, 255);
    width:20px;
    height:20px;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
  }
.es-visible{
  visibility:visible;
}

  #div{
    position:fixed;
    top:100px;
    display:block;
    background-color:rgba(255, 255, 255, 0.936);
    color:black;
    z-index: 2;
  }
  #div .li{
    text-decoration: none;
    list-style:none; 
    
  }
  .separador{
    border:2px solid black;
  }

  #estado{
    visibility:hidden;
  }
  .nav li a:hover{
    font-weight: bold;
  }
  .navbar-nav .nav-link {
    color: white;
}