<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <!-----header----->
    <app-seccion-nav></app-seccion-nav>

    <!--- estado ---->
    <div *ngIf="!isAdmin" class="text-center pt-3" id="c">
      <figure>
        <blockquote class="blockquote">
          <p class="pe">Aca podes ver el estado de tu pedido</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          <cite title="Título fuente"></cite>
        </figcaption>
      </figure>
    </div>


    <div class="slider-container">  
      <div class="c" *ngFor="let orden of o">
        <div class="card">
          <div class="title">Estado del pedido</div>
        <div class="info">
            <div class="row">
                <div class="col-7">
                    <span id="heading">Fecha</span><br>
                    <span id="details">{{orden.fechaCreacion}}</span>
                </div>
                <div class="col-5 pull-right">
                    <span id="heading">Order No.</span><br>
                    <span id="details">{{orden.numero}}</span>
                </div>
            </div>      
        </div>      
        <div class="pricing">
            <div class="row">
                <div class="col-9">
                    <span id="name">Pedido</span>  
                </div>
                <div class="col-3">
                    <span id="price">
                      <a
                      (click)="mostrar(orden.id)"
                      class="btn btn-danger"
                      [routerLink]="['/detalle', orden.id]"
                    >
                      Detalles
                    </a></span>
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    <span id="name">Envio</span>
                </div>
                <div class="col-3">
                    <span id="price">{{orden.costoEnvio}}$</span>
                </div>
            </div>
        </div>
        <div class="total">
            <div class="row">
                <div class="col-9">total</div>
                <div class="col-3">{{orden.total}}$</div>
            </div>
        </div>
        <div class="tracking">
            <div class="title">Estado del pedido</div>
        </div>
        <div class="progress-track">
            <ul id="progressbar">
                <li class="step0 active " id="step1">Orden</li>
                <li class="step0   text-center" id="step2">Confirmacion</li>
                <li class="step0  text-right" id="step3">Preparando</li>
                <li class="step0 text-right" id="step4">Delivery</li>
            </ul>
        </div>
        </div>
    </div>
    </div> 

  <section *ngIf="isAdmin" id="section2">
    <table class="t table table-dark table-striped mt-5">
      <thead>
        <tr>
          <th scope="col">Num-Orden</th>
          <th scope="col">Fecha Creación</th>
          <th scope="col">Usuario</th>
          <th scope="col">Correo del usuario</th>
          <th scope="col">Tipo de Pago</th>
          <th scope="col">Total</th>
          <th scope="col">Estado</th>
          <th scope="col">Detalle de la orden</th>
          <th scope="col">Cancelar</th>
          <th scope="col">Aceptar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orden of orden">
          <th scope="row">{{ orden.numero }}</th>
          <td>{{ orden.fechaCreacion }}</td>
          <td>{{ orden.usuario.nombre }}</td>
          <td>{{ orden.usuario.email }}</td>
          <td>{{ orden.tipoPago }}</td>
          <td>{{ orden.total }} $</td>
          <td class="text-danger">{{ orden.estado }}</td>
          <td>
            <a
            (click)="mostrar(orden.id)"
            class="btn btn-danger"
            [routerLink]="['/detalle', orden.id]"
          >
            Detalle
          </a>
          </td>
          <td>
            <button
              (click)="cancelar(orden.id, orden.usuario.id)"
              class="btn btn-danger ms-2"
            >
              Cancelar
            </button>
          </td>
          <td>
            <button (click)="terminado(orden.id)" class="btn btn-danger ms-2">
              Aceptar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <div *ngIf="!isAdmin" class="pt-5 pb-5">
    <svg width="100%">
      <defs>
        <pattern
          id="polka-dots"
          x="0"
          y="0"
          width="100"
          height="100"
          patternUnits="userSpaceOnUse"
        >
          <circle fill="#be9ddf" cx="25" cy="25" r="3"></circle>
        </pattern>
      </defs>
      <text x="50%" y="60%" text-anchor="middle">Gracias por tu orden</text>
    </svg>
  </div>


  </body>
</html>
