/*general*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  width: 100% !important;
}
/*body*/
main {
  background-color: #e2e8f0;
}

/*main*/

main {
  display: flex;
  width: 100%;
  padding: 50px;
}

main nav {
  flex-direction: column;
  min-width: 250px;
  width: 20%;
  padding: 15px;
  margin-top: 10%;
}

main nav input {
  padding: 0.5rem;
  background: #e2e8f0;
  border-radius: 5px;
  border-color: black;
  letter-spacing: 1px;
}
input[type="text"]::placeholder {
  font-weight: bold;
  color: black;
}

main nav h2 {
  margin-top: 35px;
  margin-bottom: 10px;
  margin-left: 15%;
}

.empresa-btn {
  display: block;
  margin: 0.25em 0;
  padding: 0.25rem;
  text-transform: capitalize;
  background: transparent;
  border-color: transparent;
  letter-spacing: var(--letterSpacing);
  color: var(--grey-500);
  cursor: pointer;
  transition: var(--transition);
  font-size: 0.85rem;
}

main section {
  flex-direction: column;
  width: 80%;
  padding: 15px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

main section article {
  height: 234px;
  width: 290px;
  margin: 5px;
  text-align: center;
  margin-top: 20%;
}

main section article img {
  height: 190px;
  width: 100%;
}

.validar:active {
  color: black;
}
.validar:focus {
  color: black;
  font-weight: bold;
}

/*nav*/
.na {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-collapse {
  padding-left: 20%;
}

#icono {
  color: white;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px;
}
#icono:hover {
  cursor: pointer;
}
/*menu*/

#img {
  height: 200px;
}
#misCategorias {
  margin: 15px;
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 45%;
}

/*modal*/
.button-modal {
  border: 0px !important;
  background-color: transparent !important;
}
.header-boton {
  background-color: black;
  display: flex;
  justify-content: end;
  align-items: end;
  border-radius: 5px;
  border-color: red;
  margin-left: 0%;
}
#nav-boton {
  border: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
}

.body-modal {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0px;
  padding-left: 0%;
}
.body-modal img {
  height: 52vh;
  width: 60%;
}
#cantidad {
  border: 1px solid rgba(0, 0, 0, 0.708);
  border-radius: 10px;
  width: 75%;
  padding-left: 5%;
}
.contenido-final {
  padding-left: 9%;
}
.m {
  width: 100%;
  height: 86%;
  background-color: rgba(255, 255, 255, 0.975);
}

.ocultar {
  visibility: hidden;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/*modal-articulo*/
.modal-p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: fixed;
  top: 65px;
  bottom: 0px;
  left: 220px;
  right: 0px;
  height: 70%;
  width: 70%;
  visibility: hidden;
  opacity: 0;
}
.es-visible {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

#mostrarNotificacion {
  background-color: #729d38;
  border-radius: 9px;
  color: white;
  display: inline-block;
  line-height: 2;
  font-size: 13px;
  font-weight: bold;
  margin-left: 8px;
  min-width: 24px;
  height: 30px;
  padding: 1px 4px;
  text-align: center;
  -webkit-transition: background-color 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: background-color 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  vertical-align: middle;
}

.modalFormulario2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  position: fixed;
  top: 120px;
  left: 600px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  visibility: hidden;
  opacity: 1;
}
.es-visibleF {
  visibility: visible;
  z-index: 1000;
  background-color: white;
  height: 65%;
  width: 30%;
}
#form{

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:4%;
}
.i{
  display: flex;
}
.mo{
  display: flex;
  justify-content: flex-end;
  width: auto;
  position: fixed;
  top: 125px;
  height: auto;
  opacity: 1;
  background: white;
  padding: 15px;
}
.modalA{
  display: flex;
    justify-content: center;
}
.es{
  visibility: visible !important;
}
#botonEliminar,
#botonAgregar {
  border: 0px;
  background-color: transparent;
}

/* footer*/
footer {
  width: 100%;
  padding: 30px;
}
.contacto {
  padding: 10px;
  margin-right: 7%;
}
.lista {
  margin-left: 25%;
}
.lista li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--colorBlanco);
  font-size: medium;
}
.lista2 li a {
  text-decoration: none;
  color: var(--colorBlanco);
  font-size: medium;
}
ul li {
  margin-left: 20px;
}
li a:hover {
  font-weight: bold;
}
.contacto-suscripcion {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .divUno {
  display: flex;
  justify-content: center;
  align-items: center;
}

#suscripcion {
  display: flex;
  justify-content: center;
  align-items: center;
}
#su {
  background-color: rgba(255, 255, 255, 0.581);
  width: 40%;
}
/* formulario suscripcion*/
.formulario {
  padding-top: 4%;
}
label {
  font-weight: 600;
}
#suscripcion input[type="text"] {
  border: 1px solid var(--colorBlanco);
}
#sus {
  background-color: black;
}
@media screen and (max-width: 1000px) {
main nav{
 margin-top:5%;
  width:100%;
}
html{
  width:122vw !important;
}

main{
display: block;
padding: 0px !important;
}

main section {
width: 100% !important;
display: block !important;
}

#misCategorias{
margin: 15px;
border: 0px;
display: flex;
justify-content: center;
margin-right: 0%;
}
main nav input{
text-align: center;
width: 95%;
margin-top: 5px;
margin-bottom: 5px;
}
main section article img{
width: 75% !important;
height: auto;
}
.body-modal  img {
  height: auto;
  width: 44%;
}
.nav{
  padding: 0px !important;
  font-size: 12px;
}
#f{
  font-size:12px;
  width: 75%;
}
main nav h2{
text-align: center;
margin-left: 10px;
}
main section  article {
height: auto;
width: auto !important;
text-align: center;
margin-top: 20%;
margin-right: 2%;
}
/* footer*/
#suscripcion {
  display: block;
  text-align: center;
  padding: 10px;
}
#su {
  margin-top: 5px;
  width: 100%;
}
footer .divUno {
  padding: 20px !important;
}
.divUno {
  margin: 0px !important;
  padding: 0px !important;
}
.br {
  padding: 5px;
}
svg {
  font-size: small;
}
.a {
  font-size: 12px !important;
}
.contacto {
  padding-left: 2px;
}
.m {
  height:auto;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.975);
}
}
@media screen and (max-width: 600px) {
  html{
    width:122vw !important;
  }
  
main{
  display: block;
 padding: 0px !important;
}

main section {
  width: 100% !important;
  display: block !important;
}
main nav{
 padding-top: 30% !important;
  width:100%;
}
#misCategorias{
  margin: 15px;
  border: 0px;
  display: flex;
  justify-content: center;
  margin-right: 0%;
}
main nav input{
  text-align: center;
  width: 95%;
  margin-top: 5px;
  margin-bottom: 5px;
}
main section article img{
  width: 100% !important;
  height: auto;
}


main nav h2{
  text-align: center;
  margin-left: 10px;
}
main section  article {
  height: auto;
  width: auto !important;
  text-align: center;
  margin-top: 20%;
  margin-right: 2%;
}
  /* footer*/
  #suscripcion {
    display: block;
    text-align: center;
    padding: 10px;
  }
  #su {
    margin-top: 5px;
    width: 100%;
  }
  footer .divUno {
    padding: 20px !important;
  }
  .divUno {
    margin: 0px !important;
    padding: 0px !important;
  }
  .br {
    border-bottom: 1px solid white;
    padding: 5px;
  }
  svg {
    font-size: small;
  }
  .a {
    font-size: 12px !important;
  }
  .contacto {
    padding-left: 2px;
  }

  /*modal agregar producto*/
  .modal-p {
    display: block;
    padding: 15px;
    position: fixed;
    top: 160px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-left: 10%;
    visibility: hidden;
    opacity: 0;
  }
  .es-visible {
    opacity: 1;
    visibility: visible;
    z-index: 2;
  }
  #form{
    display: block !important;
  }
  .body-modal{
    display: block !important;
  }
  .m {
    background-color: rgba(255, 255, 255, 0.975);
    height:auto;
        width: auto;
}
.i{
  display: block;
  text-align: center;
}
.body-modal img {
  height: 20vh;
  width:auto;
}
#navUl{
  display: none!important;
}
}

@media screen and (max-width: 1400px) {
  .modal-p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: fixed;
    top: 65px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 70%;
    width: 100%
}
  main section {
    flex-direction: column;
    width: 80%;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  main nav{
    padding-top:15%;
  }
  main{
    padding-top: 5%;
  }
  main section  article {
    height: auto;
    width: 240px;
    text-align: center;
    margin-top: 20%;
    margin-right: 2%;
  }
}

@media screen and (max-width: 400px) {
  main nav{
    padding-top:40% !important;
  }
  main{
    padding-top: 5%;
  }

}
