<app-seccion-nav></app-seccion-nav>

<!----- main ------>
<main
  style="height: 100vh;background-size: cover;"
  [ngStyle]="{ 
    background: 'url(assets/fondo7.jpg) no-repeat'}"
>
;
  <div class="jumbotron jum">
    <h1 class="titulo display-4">Restaurante</h1>
    <p class="titulo parrafo lead">
      Bienvenidos a nuestra pagina de RestComidas
    </p>

    <p class="titulo">La sensatez y el estómago vacío no se la llevan bien.</p>
    <p class="titulo lead">
      <!-----------------------------
            <a
              class="parrafo2 titulo btn btn-primary btn-lg"
              href="#"
              role="button"
              >Learn more</a
            >              
              ----------------------------------->

      <button class="btn btn-primary" (click)="abrirModal()">
        Nuestra historia
      </button>
    </p>
  </div>

  <div id="modal1" class="modal1">
    <div class="modal-cerrar">
      <button class="btn btn-dark" (click)="cerrarModal()">cerrar</button>
    </div>
    <div class="modal-contenido">
      <img src="assets/restaurant-interior.jpg" alt="" />
      <p class="quienes-somos">
        <u
          ><b><i>UN CONCEPTO NUEVO</i></b></u
        >
        <br />
        Modernos en el estilo y clásicos en el sabor. Un equipo de profesionales
        que hemos creado el restaurante donde nos gustaría comer a diario y en
        las ocasiones especiales. Con menú o a la carta. Con amigos o con
        clientes, con tiempo para disfrutar o con algo más de prisa porque el
        trabajo lo requiere. Firmes defensores de que calidad no está en el
        precio, sino en el producto. Exigentes porque también somos consumidores
        y estamos convencidos de que la experiencia debe resultar completa. Un
        buen restaurante ha de serlo por la comida, pero también por el trato y
        el entorno, por la decoración y el ambiente. Somos nuevos, pero también
        somos expertos. Natural Lunch, nuestro restaurante en La Finca
        (Pozuelo), nos ha permitido crecer y creer. Sabemos más y queremos
        demostrarlo.
      </p>
    </div>
  </div>
</main>
