<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <app-seccion-nav></app-seccion-nav>
    <!----- section ------>
    <section id="sec">
      <div id="banner"></div>
      <div class="jumbotron jum mt-5 text-white" id="jum">
        <h1 id="titulo" class="titulo pt-3">Bienvenidos</h1>
        <hr class="s" />
        <p class="pa pt-3">
          Nuestro restaurante ofrece comidas de servicio completo con
          impresionantes vistas vistas desde nuestro patio interior cubierto y
          nuestra terraza al aire libre.
        </p>
      </div>
    </section>

    <!--Nuevas Recetas proximas-->
    <div class="mt-4 pt-4 container text-dark">
      <div id="wow" class="jumbotron jum mt-1">
        <h1 class="text-dark titulo2">Visita nuestro menu</h1>
        <p class="p1">
          Ofrecemos una gran variedad de los mejores platos italianos a nuestros
          visitantes y huéspedes. A continuación se presentan algunos de
          nuestros platos principales.
        </p>
      </div>
      <!--fotos card-->
      <section id="tarjetas" class="mt-5 mb-3">
        <div class="card-group p-1" id="seccion-nuevas-recetas">
          <div class="card">
            <img src="assets/plato1.jpg" class="card-img-top" alt="..." />
            <div class="card-body text-center">
              <h2 class="card-title">Ravioles con salsa roja</h2>
              <p class="card-text">
                <a
                  href=""
                  class="text-dark bg-danger p-1 mt-3"
                  routerLink="/menu"
                  >Ir al menu</a
                >
              </p>
              <p class="card-text"><small class="text-danger"></small></p>
            </div>
          </div>
          <div class="card">
            <img src="assets/plato2.jpg" class="card-img-top" alt="..." />
            <div class="card-body text-center">
              <h2 class="card-title">Paella de marisco</h2>
              <p class="card-text">
                <a
                  href=""
                  class="text-dark bg-danger p-1 mt-3"
                  routerLink="/menu"
                  >Ir al menu</a
                >
              </p>
              <p class="card-text">
                <small class="text-danger bg-danger"></small>
              </p>
            </div>
          </div>
          <div class="card">
            <img src="assets/plato3.jpg" class="card-img-top" alt="..." />
            <div class="card-body text-center">
              <h2 class="card-title">Pastel de carne</h2>
              <p class="card-text">
                <a
                  class="text-dark bg-danger p-1 mt-3"
                  href=""
                  routerLink="/menu"
                  >Ir al menu</a
                >
              </p>
              <p class="card-text"><small class="text-danger"></small></p>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!--galeria-->
    <section id="galeria" class="mb-5">
      <!-- Gallery -->
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 contenedor">
            <img
              id="im"
              height="65%"
              src="assets/a.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Boat on Calm Water"
            />
            <img
              id="im"
              height="35%"
              src="assets/f.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Wintry Mountain Landscape"
            />
          </div>

          <div class="col-lg-4 mb-4 mb-lg-0">
            <img
              id="im"
              src="assets/d.jpg"
              class="w-100 h-50 shadow-1-strong rounded mb-4"
              alt="Mountains in the Clouds"
            />

            <img
              id="im"
              src="assets/f.jpg"
              class="w-100 h-40 shadow-1-strong rounded mb-4"
              alt="Boat on Calm Water"
            />
          </div>

          <div class="col-lg-4 mb-4 mb-lg-0">
            <img
              id="im"
              height="60%"
              src="assets/b.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Waves at Sea"
            />
            <img
              id="im"
              height="40%"
              src="assets/b.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Wintry Mountain Landscape"
            />
          </div>
        </div>
      </div>
      <!-- Gallery -->
    </section>

    <!--about-->
    <section id="contenedor-div" class="container mb-5">
      <div class="row">
        <div class="col-md-12 col-lg-6 col-sm-12 imc">
          <img id="img-p" src="assets/home.jpg"     width="483" height="327" alt="">
          <img
          id="img-f"
            class="box-image-static"
            src="https://livedemo00.template-help.com/wt_53136/images/home-3-2-341x391.png"
            alt=""
            width="341"
            height="391"
          />
        </div>
        <div class="col-md-12 col-lg-6 col-ms-12 col2">
          <div class="">
            <h2 class="h2">About Us</h2>
            <p class="par">
              Pesto is a family owned and operated Italian Restaurant offering a
              combination of fresh ingredients and authentic Italian cooking.
            </p>
            <p class="par">
              We will make sure you are served the most authentic and fresh
              Italian dishes, while offering the best customer service. Our
              kitchen is committed to providing our guests with the best Italian
              Cuisine.
            </p>
            <img src="assets/firma.png" alt=""  />
          </div>
        </div>
      </div>
    </section>
    <!--modal-->
    <div class="m">
      <div id="modal1" class="modal1">
        <div class="modal-cerrar">
          <button class="btn btn-dark" (click)="cerrarModal()">cerrar</button>
        </div>
        <div class="modal-contenido">
          <img src="assets/restaurant-interior.jpg" alt="" />
          <p class="quienes-somos">
            <u
              ><b><i>UN CONCEPTO NUEVO</i></b></u
            >
            <br />
            Modernos en el estilo y clásicos en el sabor. Un equipo de
            profesionales que hemos creado el restaurante donde nos gustaría
            comer a diario y en las ocasiones especiales. Con menú o a la carta.
            Con amigos o con clientes, con tiempo para disfrutar o con algo más
            de prisa porque el trabajo lo requiere. Firmes defensores de que
            calidad no está en el precio, sino en el producto. Exigentes porque
            también somos consumidores y estamos convencidos de que la
            experiencia debe resultar completa. Un buen restaurante ha de serlo
            por la comida, pero también por el trato y el entorno, por la
            decoración y el ambiente. Somos nuevos, pero también somos expertos.
            Natural Lunch, nuestro restaurante en La Finca (Pozuelo), nos ha
            permitido crecer y creer. Sabemos más y queremos demostrarlo.
          </p>
        </div>
      </div>
    </div>
    <!----------------- footer 

    <footer class="bg-dark container-fluid">
      
      <div class="row divUno">
        <div class="col-md-4 col-lg-4 col-sm-12 br">
          <ul class="list-unstyled lista text-white">
            <li>
              <a href="./index.html" routerLink="">home</a>
            </li>
            <li>
              <a href="./menu.html" routerLink="/menu">menu</a>
            </li>
            <li>
              <a href="./contacto.html" routerLink="/contacto">contacto</a>
            </li>
            <li>
              <a href="./locales.html">locales</a>
            </li>
          </ul>
        </div>

        <div class="col-md-4 col-lg-4 col-sm-12 br">
          <ul class="list-unstyled lista mt-3 text-white">
            <li>
              <a href="./index.html">blog</a>
            </li>
            <li>
              <a href="./menu.html">cupones</a>
            </li>
            <li>
              <a href="./contacto.html">Reseña</a>
            </li>
            <li>
              <a href="./locales.html">Opiniones</a>
            </li>
          </ul>
        </div>
        <br class="br" />
        <div class="col-md-4 col-lg-4 col-sm-12 br">
          <ul class="mt-3 text-white list-unstyled lista contacto">
            <li>
              <a class="a" href="#!">
                <i class="fa-solid fa-mobile-screen"></i>
                4444-2222
              </a>
            </li>
            <li>
              <a class="a" href="#!">
                <i class="fa-solid fa-envelope"></i>
                rrrrr@gmail.com
              </a>
            </li>
            <li>
              <a class="a" href="#!">
                <i class="fa-solid fa-map-location"></i>
                local juan 3333
              </a>
            </li>
          </ul>
        </div>


      </div>

      <div class="container-fluid">
     
        <div class="row contacto-suscripcion mt-3">
       
          <div class="col-md-5 col-lg-4 col-sm-12">
            <div class="contenedor-redes-sociales d-flex mt-3">
              <h5 class="text-uppercase text-white mb-3">
                <i><b> Seguinos</b></i>
              </h5>
              <ul class="list-unstyled d-inline-flex ms-3">
                <li class="pe-4">
                  <a href="#!" class="text-white">
                    <i class="fa-brands fa-facebook"></i>
                  </a>
                </li>
                <li class="pe-4">
                  <a href="#!" class="text-white">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </li>
                <li class="pe-4">
                  <a href="#!" class="text-white">
                    <i class="fa-brands fa-twitter"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-7 col-lg-6 col-sm-12">
            <form novalidate #f="ngForm" action="" id="suscripcion">
              <label for="suscribete" class="text-white pe-1 label-suscribite"
                ><u>
                  <b><i>Suscribite y recibe nuevas novedades</i></b>
                </u>
              </label>
              <input
                id="su"
                placeholder="email"
                autocomplete="on"
                type="email"
                class="form-control"
                name="correo"
                placeholder="Correo"
                required
                #correo="ngModel"
                [ngModel]=""
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                [ngClass]="{
                  'is-invalid animated shake': correo.invalid && correo.touched
                }"
              />
              <button
                [disabled]="!f.valid"
                id="sus"
                title="ingresa tu email para suscribirte"
                class="btn btn-dark"
              >
                suscribirse
              </button>
            </form>
        
          </div>
     
        </div>
      </div>
    </footer>
  -->
    <!--footer 2 -->
    <footer id="footer2">
      <section class="container-fluid">
        <div class="">
          <div class="row contenedor-footer-logo">
            <img id="img-footer" src="assets/l.png" alt="" />
          </div>
          <div class="contenedor-footer-nav">
            <nav class="row">
              <ul>
                <li>
                  <a href="">Home</a>
                </li>
                <li>
                  <a href="">Menu</a>
                </li>
                <li>
                  <a href="">Contacto</a>
                </li>
                <li>
                  <a href="">Local</a>
                </li>
                <li>
                  <a href="">Blog</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="contenedor-footer-redes mt-5">
            <nav class="row">
              <ul>
                <li>
                  <a href="">
                    <i class="fa-brands fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa-brands fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa-brands fa-youtube"></i>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </section>
      <p class="p text-muted mt-5">
        © 2022 Rest. All Rights Reserved. Privacy Policy
      </p>
    </footer>
  </body>
</html>
