
/* principal y variables*/
:root{
    --colorAzul:rgba(9, 36, 244, 0.858);
    --colorBlanco:rgba(255, 255, 255);
    --colorNegro:rgba(0, 0, 0, 0.77);
  }
  body{
    font-family: 'Coure';
  }

  /*main*/
  .titulo{
    color : white;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    font-style: italic;
 
  }
  .jum{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 50%;
  }
  .parrafo2{
    font-size: 20%;
  }
  .parrafo{
    font-weight: bold;
    font-style:initial;
    font-size: 2rem;
  }
  
  
  
  /**modal**/
  .modal1{
    visibility: hidden;
    position: fixed;
    top:100px;
    height: 530px;
    width:500px;
    z-index: 2500;
  }
  .es-visible{
    visibility: visible;
    opacity: 1;
    background-color:white;
  }
  .m{
    display: flex;
    justify-content: center;
  }
  .modal-cerrar{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 40px;
    background-color: var(--colorNegro);
  }
  
  .modal-cerrar button{
  height:40px;
  }
  .modal-contenido{
  height:290px;
  
  }
  .modal-contenido img{
    height:230px;
    width:100%;
  }
  .quienes-somos{
    padding: 20px;
    font-size:small;
  }
  
  main{
    background-size: cover !important;
  }

  @media screen and (max-width:600px){
    .jum{
      height: 70%;
    }
    .modal1{
      visibility: hidden;
      position: fixed;
      top:15px;
      height: 530px;
      width:280px;
      z-index: 2500;
    }
    .es-visible{
      visibility: visible;
      opacity: 1;
      background-color:white;
    }
    .quienes-somos{
      font-size: 11px;
  }
  .modal-contenido img {
    height: 150px;
    width: 100%;
}
  }

  @media screen and (max-width:1000px){
    .modal1{
      visibility: hidden;
      position: fixed;
      top:15px;
      z-index: 2500;
    }
    .es-visible{
      visibility: visible;
      opacity: 1;
      background-color:white;
    }
  }