.section{
    padding:7%;
    margin-top: 3%;
}
/* footer*/
#footer2{
  background-color: #323232;
  height:500px;
  width: 100%;
}
.contenedor-footer-logo,.contenedor-footer-nav nav ul,.contenedor-footer-redes nav ul{
  display: flex;
  justify-content:center;
  align-items:center; 
}
.contenedor-footer-nav nav ul li a{
  text-decoration: none;
  padding:30px;
  color:white;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.contenedor-footer-redes nav ul li a{
  text-decoration: none;
  padding:30px;
  color:white;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.p{
  font-size:1rem;
  text-align: center;
  padding-top:5%;
}
.contenedor-footer-nav nav ul li{
  border-right: 1px solid white;
  list-style: none;
}
.contenedor-footer-redes nav ul li{
  list-style: none;
}
.contenedor-footer-nav nav ul li a:hover{
color:green;
}
.contenedor-footer-nav nav ul li:last-child{
  border-right: none;
}
#img-footer{
  width: auto;
  height: 60px;
  margin: 60px;
}
@media screen and (max-width:600px){
 
.section{
  padding:0px !important;
  margin: 2px;
  margin-top: 40%;
}
   /* footer*/
   #footer2{
    background-color: #323232;
    height:100%;
  }
  .contenedor-footer-logo,.contenedor-footer-nav nav ul,.contenedor-footer-redes nav ul{
    display: flex;
    justify-content:center;
    align-items:center; 
    align-items: center;
    flex-direction: column;
  }
  .contenedor-footer-nav nav ul li a{
    text-decoration: none;
    padding:30px;
    color:white;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .contenedor-footer-redes nav ul li a{
    text-decoration: none;
    padding:30px;
    color:white;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .p{
    font-size:1rem;
    text-align: center;
    padding-top:5%;
  }
  .contenedor-footer-nav nav ul li{
    border:0px;
    list-style: none;
  }
  .contenedor-footer-redes nav ul li{
    list-style: none;
  }
  .contenedor-footer-nav nav ul li a:hover{
  color:green;
  }
  .contenedor-footer-nav nav ul li:last-child{
    border-right: none;
  }
  #img-footer{
    width: auto;
    height: 60px;
    margin: 60px;
  }
}



